<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Great Resignation</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body>
  <h2>The Great Resignation</h2>
  <p>Quit, Hire and Job Opening Rate 2001 - 2023</p>
  <p>Change Drop Down To Update Plot</p>
  <select id="selDataset">
      <option value="Hire Rate">Hire Rate</option>
      <option value="Quit Rate">Quit Rate</option>
      <option value="Job Openings">Job Openings</option>
  </select>
  <div id="plot"></div>

    <h2>Annual Quit Rates for Top5 Industries During Covid-19</h2>
    <p>Numbers on hover reflect the quit rates in each year.</p>
    <p>*Top 5 industries are based on 2022 rates.</p>
    <select id="selDataset1">
        <option value="Accommodation and food services">Accommodation and food services</option>
        <option value="Arts, entertainment, and recreation">Arts, entertainment, and recreation</option>
        <option value="Construction">Construction</option>
        <option value="Retail trade">Retail trade</option>
        <option value="Transportation, warehousing, and utilities">Transportation, warehousing, and utilities</option>
    </select>
    <div id="plot1"></div>

</div>

  <body>
    <h2>Total Quits by Industry During and After Recession</h2>
    <p>Numbers on hover reflect the total quits in each year and industry</p>
    <select id="selDataset2">
        <option value="Manufacturing">Manufacturing</option>
        <option value="Trade, transportation, and utilities">Trade, transportation, and utilities</option>
        <option value="Financial activities">Financial activities</option>
        <option value="Education and health services">Education and health services</option>
        <option value="Government">Government</option>
    </select>
  <div id="plot2"></div>

  <p>Data Sources:<br />
      <ul>
            <li>
              <a href="https://www.bls.gov/jlt/latest-numbers.htm">JOLTS Latest Numbers</a><br />
              <a href="https://www.bls.gov/news.release/jolts.t22.htm">Annual Average Quits Rates by Industry and Region, not Seasonally Adjusted</a><br />
              <a href="https://data.bls.gov/PDQWeb/jt">Job Openings and Labor Turnover Survey</a><br />     
            </li>

  </p>
  <script type="text/javascript" src="{{ url_for('static', filename='js/plot_line.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/plots.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/max_plots.js') }}"></script>
</body>
</html>

